.notDisplayed {
    display: none;
}

.parentContainer {
    display: flex;
    /* flex-direction: row-reverse; */
    /* flex-wrap: wrap; */
    flex-flow: row-reverse;
    border: 2px solid black;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    align-content: center;
}
 
.childContainer {
    border: 4px solid green;
    /* flex-grow: 1;
    flex-shrink: 1; */
    flex: 1;
}

.item3 {
  /*   order: 4;
    flex-grow: 2;
    flex-shrink: 3;
    flex-basis: 300px; */
    flex: 1;
    align-self: stretch;
}